@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WormCloud</h1>
    <p class="lead">A custom built C. elegans strain management portal.</p>
    <p><a href="https://glyczak.github.io/WormCloud" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
