@model IEnumerable<WormCloud.Models.Sample>
@{
    ViewBag.Title = "Samples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Samples</h2>

<table id="samples" class="table table-bordered table-hover">
    <thread>
        <th>Name</th>
        <th>Strain</th>
        <th>Created By</th>
        <th>Status</th>
    </thread>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('#samples').DataTable({
                ajax: {
                    url: "/api/samples/",
                    dataSrc: ""
                }
            });
        });
    </script>
}
