@model IEnumerable<WormCloud.Models.Strain>
@{
    ViewBag.Title = "Strains";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Strains</h2>

<table id="strains" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Genotype</th>
        <th>Source</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@Html.ActionLink("New Strain", "New", "Strains", new { @class = "btn btn-primary" })

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#strains").DataTable({
                ajax: {
                    url: "/api/strains/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, strain) {
                            return "<a href='/strains/view/" + strain.id + "'>" + strain.name + "</a>";
                        }
                    },
                    {
                        data: "genotype"
                    },
                    {
                        data: "source"
                    },
                    {
                        data: "notes"
                    }
                ]
            });
        });
    </script>
}